<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table class="user-index-table">
  <thead>
    <tr class="header-row">
      <th class="user-name">Name</th>
      <th class="email-header">Email</th>
      <th>Posts</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr class="data-row">
        <td class="user-name"><%= user.name %></td>
        <td class="user-email"><%= user.email %></td>
        <td><%= (first_post = user.microposts.first)  ? first_post.content : "No Posts Yet" %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %> |
<%= link_to 'New Micropost', new_micropost_path %>


